div {
  width: 25px;
  height: 100px;
  background-image:url(../../../assets/frame-vert.PNG);
  background-size: cover;
  color: #F0E9A5;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
