.flex-container {
  display: flex;
}

.row {
  height: 100px;
}

.cell {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.cell-white {
  content:url(../../../assets/white-cell.png);
}

.cell-brown {
  content:url(../../../assets/brown-cell.png);
}