:host {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.white {
  background-image:url(../../../assets/white-cell.png);
}

.brown {
  background-image:url(../../../assets/brown-cell.png);
}

.isMovable {
  filter: drop-shadow(0px 0px 10px green);
}

.isEatable {
  filter: drop-shadow(0px 0px 10px red);
}

.isEatable2 {
  background-image:none;
}

.white,
.brown {
  width: 100%;
  height: 100%;
}
