<horizontal-bar></horizontal-bar>
<div class="flex-container">
  <vertical-bar [barItems]="number"></vertical-bar>
  <div>
    <div class="row" *ngFor="let row of cheesboard.board; index as horIndex">
      <div *ngFor="let cheesBox of row; index as vertIndex">
        <div class="cheesBox" [ngClass]="isPair(horIndex, vertIndex) ? 'white' : 'brown'">
          <ng-container *ngIf="cheesBox.pawnChees">
            <ng-container [ngSwitch]="cheesBox.pawnChees.type">
              <pawn *ngSwitchCase="IPawnCheesType.pawn" [color]="cheesBox.pawnChees.color"></pawn>
              <bishop *ngSwitchCase="IPawnCheesType.bishop" [color]="cheesBox.pawnChees.color"></bishop>
              <king *ngSwitchCase="IPawnCheesType.king" [color]="cheesBox.pawnChees.color"></king>
              <knight *ngSwitchCase="IPawnCheesType.knight" [color]="cheesBox.pawnChees.color"></knight>
              <queen *ngSwitchCase="IPawnCheesType.queen" [color]="cheesBox.pawnChees.color"></queen>
              <rook *ngSwitchCase="IPawnCheesType.rook" [color]="cheesBox.pawnChees.color"></rook>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <vertical-bar></vertical-bar>
</div>
<horizontal-bar [barItems]="letter"></horizontal-bar>
