<div class="container" (click)="resurrection(pawnChees)" *ngFor="let pawnChees of graveyard">
  <ng-container [ngSwitch]="pawnChees.type">
    <pawn *ngSwitchCase="IPawnCheesType.pawn"></pawn>
    <bishop *ngSwitchCase="IPawnCheesType.bishop"></bishop>
    <king *ngSwitchCase="IPawnCheesType.king"></king>
    <knight *ngSwitchCase="IPawnCheesType.knight"></knight>
    <queen *ngSwitchCase="IPawnCheesType.queen"></queen>
    <rook *ngSwitchCase="IPawnCheesType.rook"></rook>
  </ng-container>
</div>
