:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.white {
  filter: invert(1);
}

.dead {
  filter: opacity(0.2);
}

img {
  width: 70%;
  height: 70%;
}
